
<!DOCTYPE html>
<html lang="ru">
  <head>
        <link rel="stylesheet" href="../static/css/style2.css">

    <meta charset="UTF-8">
    <title>Интернет-магазин товаров для дома</title>
    <link href="style2.css" rel="stylesheet">

  </head>

  <body>
    <header class="site-header">
      <nav class="site-navigation">

        <a class="logo-link" href="http://localhost:8080/about">
          <img src="../static/img/logo-full.svg" width="62" height="17" alt="Логотип магазина gloevk">
        </a>
        <ul class="navigation-list">
          <li><a href="catalog.php">Каталог</a></li>
          <li><a href="delivery.html">Доставка</a></li>
          <li><a href="contacts.html">Контакты</a></li>


        </ul>

        <a class="icon" href="https://twitter.com" >
<img  src="../static/img/r.png" width="25" height="25" >

</a>
        <a class="icon" href="https://twitter.com" >
        <img  src="../static/img/user.png" width="25" height="25" >

        </a>
      </nav>
    </header>


    <section class="intro">
  <div class="container">
    <h1 class="intro-title">Комфорт и уют в&nbsp;<b>вашей</b> квартире</h1>
    <p>Разнообразные товары для дома с доставкой по всей планете</p>
  </div>
</section>

<section class="features">

  <h2 class="quote"> Популярные категории</h2>
  <p class="feature-furniture">Мебель и фурнитура</p>

  <p class="feature-lighting " >Лампы и торшеры</p>
  <p class="feature-accessories" >Аксессуары и мелочи</p>
</section>

<section class="popular-products">
  <div class="container">
    <h2 class="quote">Рекомендации для вас</h2>
    <ul class="products-list">


      <li>
        <a class="product-card product-card-new " href="product.php?product_id=1">
          <h3>Мсеюлида</h3>
          <p>лампа напольная</p>
          <span class="price"><del>289</del> 288</span>
          <img class="productl" width="156" height="120">
        </a>
      </li>
      <li>
        <a class="product-card product-card-new" href="product.php?product_id=2">
          <h3>Рмаериби</h3>
          <p>диван трёхместный</p>
          <span class="price"><del>6000</del>5875</span>
          <img class="productD" width="156" height="120">
        </a>
      </li>
      <li>
        <a class="product-card" href="/info/">
          <h3>Акула</h3>
          <p>мяшгкая игрушка</p>
          <span class="price">1499</span>
          <img  class="productA" width="156" height="120" >
        </a>
      </li>
      <li>
        <a class="product-card" href="product.php?product_id=4">
          <h3>Блетуб</h3>
          <p>люстра потолочная</p>
          <span class="price">1360</span>
          <img class="productL" width="156" height="120">
        </a>
      </li>

      <li>
        <a class="product-card product-card-b" href="product.php?product_id=5">
          <h3>Malm</h3>
          <p>комод с 6 ящиками</p>
          <span class="price">10360</span>
          <img  class="productM" width="156" height="120" >
        </a>
      </li>
      <li>
        <a class="product-card" href="product.php?product_id=6">
          <h3>Besta</h3>
          <p>Тумба</p>
          <span class="price">13600</span>
          <img class="product-car "  width="156" height="120">
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2 class="features-title">Что <b>выделяет</b> нас среди конкурентов?</h2>
    <ul class="features-list">
      <li class="feature-unique">Уникальные товары не имеют аналогов</li>
      <li class="feature-organic">Используем только природные материалы</li>
      <li class="feature-protected">Устойчивы к кошачьим зубам и когтям</li>
    </ul>
  </div>
</section>
<footer class="site-footer">
      <div class="container">
        <p class="copyright">© Niklad, 2021</p>

        <ul class="navigation-list">
          <li><a href="catalog.php">Каталог</a></li>
          <li><a href="delivery.html">Доставка</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
        <ul class="social-list">
          <li>
            <a class="social-link-twitter" href="https://twitter.com">
              <span class="visually-hidden">Твиттер</span>
            </a>
          </li>
          <li>
            <a class="social-link-instagram" href="https://instagram.com">
              <span class="visually-hidden">Инстаграм</span>
            </a>
          </li>
          <li>
            <a class="social-link-vk" href="https://vk.com/o_0niklad0_o">
              <span class="visually-hidden">VK</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
